# Playbook to delete a storage domain.
---
- hosts: localhost
  become: false
  collections:
    - cohesity.dataprotect
  tasks:
    - name: Delete a storage domain from the cohesity server.
      cohesity_storage_domain:
        cluster: "{{ cohesity_server }}"
        username: "{{ cohesity_username }}"
        password: "{{ cohesity_password }}"
        validate_certs: "{{ cohesity_validate_certs }}"
        name: 'Ansible'
        state: 'absent'
