---
- hosts: localhost
  become: false
  collections:
    - cohesity.dataprotect
  tasks:
    - name: "Cohesity Clone VM: Set state to present"
      cohesity_clone_vm:
        cluster: "{{ cohesity_server }}"
        username: "{{ cohesity_username }}"
        password: "{{ cohesity_password }}"
        validate_certs: "{{ cohesity_validate_certs }}"
        state: present
        environment: VMware
        job_name: CloneVM
        name: Test
        resource_pool: VCDRPool
        vm_names:
          - cirros-Web-tier-vm02
