# Playbook to refresh Vmware source in the cluster.
---
- hosts: localhost
  become: false
  collections:
    - cohesity.dataprotect
  tasks:
    - name: "Cohesity Protection Source: Refresh VMware resource"
      cohesity_source:
        cluster: "{{ cohesity_server }}"
        username: "{{ cohesity_username }}"
        password: "{{ cohesity_password }}"
        validate_certs: "{{ cohesity_validate_certs }}"
        state: present
        endpoint: "vcenter.domain.com"
        environment: "VMware"
        refresh: true
