#=> restore files from linux machine, recent job run is used for the operation
---
- hosts: localhost
  collections:
    - cohesity.dataprotect
  tasks:
    - name: Restore Files
      cohesity_restore_file:
          cluster: "{{ cohesity_server }}"
          username: "{{ cohesity_username }}"
          password: "{{ cohesity_password }}"
          validate_certs: "{{ cohesity_validate_certs }}"
          name: "Ansible File Restore1"
          environment: "PhysicalFiles"
          job_name: "bbbbbbbbb"
          endpoint: "192.168.1.1"
          file_names: 
            - "/home/cohesity/.bashrc"
          wait_for_job: True
          state: "present"
