#=> Create a Cohesity protection job for UDA hosts.
---
- hosts: localhost
  gather_facts: no
  collections:
    - cohesity.dataprotect
  tasks:
    - name: "Uda Protection job"
      cohesity_uda_protection_group:
        cluster: "{{ cohesity_server }}"
        username: "{{ cohesity_username }}"
        password: "{{ cohesity_password }}"
        state: present
        protection_group_name: protect_udaa
        storage_domain: "DefaultStorageDomain"
        policy: "Silver"
        endpoint: "192.168.1.1"
        cancel_active: true
        objects:
          - DB2-199-RR-db2inst1
        time_zone: Asia/Kolkata
        start_time: "12:30"
        log_backup_args: "--prune-logs-hours=1"
