# => Create/Update a Generic Nas protection job for list of Sources.
---
- hosts: workstation
  gather_facts: false
  collections:
    - cohesity.dataprotect
  tasks:
    - name: Create/Update a Generic Nas Protection job.
      cohesity_job:
        cluster: "{{ cohesity_server }}"
        username: "{{ cohesity_username }}"
        password: "{{ cohesity_password }}"
        validate_certs: "{{ cohesity_validate_certs }}"
        state: "present"
        name: "SqlJob"
        environment: "GenericNas"
        sources:
          - endpoint: "x.x.x.x:/Test"
          - endpoint: "x.x.x.x:/Test1"
          - endpoint: "\\\\x.x.x.x\\Test"
        protection_policy: "Bronze"
        storage_domain: "DefaultStorageDomain"
        time_zone: "America/Los_Angeles"
        start_time: "00:00"
