---
name: Ansible Lint
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ansible:
          - stable-2.16
          - stable-2.17
          - stable-2.18
          - stable-2.19
          - stable-2.20
    steps:
      - uses: actions/checkout@v2
      # this Action should follow steps to set up Python build environment
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install cohesity-management-sdk
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Perform sanity testing with ansible-test
        uses: ansible-community/ansible-test-gh-action@release/v1
        with:
          ansible-core-version: ${{ matrix.ansible }}
          testing-type: sanity
